# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Java / Maven
target/
*.class
*.jar
!zipkin.jar
*.war
*.ear
*.log

# IDE
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
